<div class="container">
    <div>
        <h1>Socket Cliente</h1>
        <h2>Agregar productos</h2>
        <div>
            <form id="productForm">
                <label>Nombre:</label><input type="text" name="title" id="prod__title">
                <label>Price:</label><input type="number" name="price" id="prod__price">
                <label>Stock:</label><input type="number" name="price" id="prod__stock">
                <br>
                <input id="add__prod" type="submit" value="Add">
                <br>
            </form>
        </div>
    </div>

    <div id="products__container">
        <ul id="products__list"></ul>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products-realtime.js"></script>