<div class="container">
    <div id="products__container">
        <ul id="products_list"></ul>
    </div>
    
    <div>
        <h1>Socket Cliente</h1>
        <h2>Agregar productos</h2>
        <div id="form_prods_container">
            <form id="productForm">
                <label>Nombre:</label><input type="text" name="title" id="prod_title">
                <label>Price:</label><input type="number" name="price" id="prod_price">
                <label>Stock:</label><input type="number" name="price" id="prod_stock">
                <input id="add_prod" type="submit" value="Add">
                <br>
            </form>
        </div>
    </div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products-realtime.js"></script>